@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

.hamb_open {
  @apply absolute bg-thirty right-5 top-16 text-center  drop-shadow duration-500;
}

.hamb_list {
  @apply border-solid border-t border-x p-2 border-contrast lg:border-none;
}

.hamb_list-last {
  @apply border-solid border p-2 border-contrast  lg:border-none;
}

.operations__content {
  @apply border border-solid border-ten py-3;
}

.operations__content--active {
  display: flex;
}

.operations__tab--active {
  @apply bg-thirty -translate-y-2 duration-500;
}

.scale {
  @apply scale-x-100;
}

.pageActive {
  @apply font-garamond bg-white py-1 px-2 font-bold text-ten text-lg drop-shadow-md;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 30px;
}

.gallery img {
  width: 100%;
}

.opacity20 {
  @apply opacity-20;
}

.opacity80 {
  @apply opacity-80;
}

.opacity100 {
  @apply opacity-100;
}

.map {
  @apply h-full;
}

.sticky {
  @apply fixed bg-thirty;
}

.sticky_hamb {
  @apply fixed opacity-80 right-10;
}

.section,
.section2 {
  @apply duration-1000;
}

.section--hidden {
  @apply opacity-0 translate-y-32;
}

.hamb_container {
  @apply absolute z-50 right-0 top-24 w-screen text-center shadow-lg bg-thirty text-contrast text-lg font-bold transition-transform duration-1000 origin-right scale-x-0 md:w-2/6;
}

.hamb_container-style {
  @apply scale-x-100;
}

.card {
  position: relative;
  width: 40%;
  height: 220px;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: all 0.8s ease;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);

  @apply md:min-h-fit md:w-[30%];
}

.card__front {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  transform: rotateY(180deg);
}

.flipCard {
  transform: rotateY(180deg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b46060;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #afd3e2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
